<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Estado de mi cuenta </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error || (accounts && accounts.length === 0)" class="no-results">
    <ion-icon name="sad"></ion-icon>
    <h5> La información solicitada no está disponible. Por favor intente nuevamente es unos instantes.</h5>
  </ion-item>

  <div *ngFor="let account of accounts">
    <ion-card style="background: linear-gradient(135deg, rgba(0,162,214,0.5) 0%, rgba(49,161,152,0.51) 100%)">
      <ion-card-header>
        <ion-card-title class="text-center ios-title">
            <ion-icon name="contact" style="zoom:1.5;"></ion-icon> <br>
            <label text-wrap style="text-align:center">{{account.customer_name}}</label>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="text-center" style="padding-bottom: 30px">
        Código de Cliente: {{account.code}} <br>
        Código de Pago: {{account.customer_payment_code}} <br>
        <ion-badge style="margin-top: 10px; margin-bottom: 10px" color="{{getBadgetColor(account.balance | number:'1.0-2')}}">{{getBadgetMessage(account.balance | number:'1.0-2')}}</ion-badge> <br>

        <div *ngIf="account.balance < 0">
          <label style="color: white; font-size: 20px; text-transform: uppercase; padding-top: 20px"> Saldo a pagar: </label>
          <label style="color: white; font-size: 20px; text-transform: uppercase; font-weight: bold"> ${{getPositiveNumber(account.balance)}} </label>
          <div>
	          <a ion-button href="http://portal.westnet.com.ar:3000/portal/payment-intention/{{account.hash_customer_id}}" target="_blank" class="btn-icon-right" style="margin-top: 20px;background-color:#ea345f;"><span><ion-icon name="logo-usd"></ion-icon> Pagar </span></a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
